* {
  font-family: Open Sans, sans-serif
}

.navbar {
  background-color: white;
  border-top: 5px solid #222;
  border-bottom: 2px solid #ddd;
}
body {
  margin-bottom: 50px;
}
.content {
  margin-top: 50px;
}
.center {
  text-align: center;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
}

.btn-group > .btn {
  border-radius: 0 !important;
}

table {
  word-break: normal !important;
  max-width: 100%;
  width: 100%;
  display: table;
}

.status-updated {
  width: 15px;
	height: 15px;
  display: inline-block;
	background: rgba(0, 128, 0, 0.50);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.status-notupdated {
  width: 15px;
	height: 15px;
	background: rgba(255, 0, 0, 0.50);
  display: inline-block;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
